<div class="mat-elevation-z7" fxFlex="100" style="height: 60px">
  <div fxFlex="20" fxFlexOffset="20">
    <img style="height: 60px" src="../../../assets/images/logo.png">
  </div>
  <div class="button-row" fxFlexOffset="10">
    <button class="btn-padding" md-button routerLink="/home">Main page</button>
    <button class="btn-padding" md-button>Search</button>
    <button class="btn-padding" md-button routerLink="/following">Following</button>
    <button class="btn-padding" md-button routerLink="/followers">Followers</button>
    <button class="btn-padding" md-button routerLink="/profile">Profile</button>
  </div>
  <!-- <md-menu-bar>
          <md-menu>
            <button class="md-button md-raised md-default" ng-click="$mdOpenMenu()">
              Menu
            </button>
            <md-menu-content>           
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>             
            </md-menu-content>
          </md-menu>   
        </md-menu-bar> -->
</div>

<!-- 
<md-menu-bar>
          <md-menu>
            <button class="md-button md-raised md-default" ng-click="$mdOpenMenu()">
              Menu
            </button>
            <md-menu-content>           
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-menu>
                  <md-button class="btn-padding" md-button routerLink="/following">Following</md-button>
                </md-menu>
              </md-menu-item>             
            </md-menu-content>
          </md-menu>   
        </md-menu-bar>  -->