<div fxLayout="column" class="view">
  <div class="container">
    <div class="header">
      <div class="icon"><i class="fa fa-ellipsis-h"></i></div>
      <div class="icon"><i class="fa fa-plus"></i></div>
    </div>
    <div class="content">
      <div class="face">
        <div class="number">24</div>
      </div>
      <div class="name">John Doe</div>
      <div class="email">hello@johndoe.com</div>
      <div class="social">
        <div class="title"></div>
        <div class="title"></div>
        <div class="title"></div>
        <div class="text"><span><button class="btn-padding" md-button routerLink="/profile">Posts</button></span>5</div>
        <div class="text"><span><button class="btn-padding" md-button routerLink="/followers" >Followers</button></span>11k</div>
        <div class="text"><span><button class="btn-padding" md-button routerLink="/following">Following</button></span>155</div>
      </div>
    </div>
    <div class="photo-section">
      <div class="thumb-wrapper">
        <div class="thumb-unit"></div>
        <div class="thumb-unit"></div>
        <div class="thumb-unit"></div>
        <div class="thumb-unit"></div>
        <div class="thumb-unit"></div>
        <div class="thumb-unit"></div>
      </div>
    </div>
  </div>
</div>